.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    padding: 5px;
    
  }
  .product-grid2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 5px;
  }
  
  .product-card {
    border: 1px solid #e8e5e5;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product-card_link{
    text-decoration: none;
    text-transform: capitalize;
    color: #777;
  }
  
  .product-card img {
    max-width: 100%;
    max-height: 200px;
    /* border: 1px solid rgb(240, 235, 235); */
  }
  
  .product-card h4 {
    margin: 5px 0;
  }
  
  .product-card p {
    font-weight: bold;
    color: #555;
  }

  @media only screen and (max-width: 1080px) {
    .product-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 5px;
    
    }
  }


  @media only screen and (max-width: 810px) {
    .product-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 5px;
    
    }
    .product-grid2{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
      padding: 5px;
      
      }
  }
  
  @media only screen and (max-width: 780px) {
    .product-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 5px;
    }
    .product-grid2{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      padding: 5px;
      }
  }
  @media only screen and (max-width: 780px){
    .search_manu_bar{
      display: none;
    }
  }
  @media only screen and (max-width: 640px){
    .suggest_search_prodcut{
      display: flex;
      justify-content: center;
    }
  }
  